[Unit]
Description=logger service
After=network.target

[Service]
ExecStart=/home/pi/thf_windrad_logger_raspi/logger/start_service_pi.sh
WorkingDirectory=/home/pi/thf_windrad_logger_raspi/logger/
StandardOutput=inherit
StandardError=inherit
Restart=always
User=pi
RequiresMountsFor=/media/usbstick/

[Install]
WantedBy=multi-user.target 
